software/front/US_Firmware.X/dist/PIC32_Standalone/production/
software/front/US_Firmware.X/nbproject/
software/front/US_Firmware.X/build/PIC32_Standalone/
software/front/US_Firmware.X/build/PIC32_with_bootloader/production/
software/front/US_Firmware.X/dist/PIC32_Standalone/production/
software/front/US_Firmware.X/nbproject/
software/PC/SSComm/bin/Debug/
software/front/US_Firmware.X/dist/PIC32_Standalone/production/
.vs/
*.Up2Date
bin/
obj/
software/front/US_Firmware.X/build/PIC32_with_bootloader/debug/
software/front/US_Firmware.X/dist/PIC32_with_bootloader/debug/
*.deploy
software/PC/UniSolder/publish/
software/front/US_Firmware.X/build/PIC32_NoOptimization/
software/front/US_Firmware.X/dist/PIC32_NoOptimization/
